/*** ================== Main Footer =================== ***/

/* Footer Style One */
.main-footer {
  position: relative;
  background-color: var(--title-color);
}
/* Footer Top */
.footer-top {
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px 0px 50px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-top.home-three {
  justify-content: center;
}
.footer-top.home-three .footer-logo {
  margin-right: 70px;
}
.footer-social-links li {
  margin-left: 5px;
  display: inline-block;
}
.footer-social-links li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.footer-social-links li a:hover {
  color: var(--primary-color);
  background: transparent;
  border-color: var(--primary-color);
}
/* End Footer Top */

/* Footer Middle*/
.footer-middle {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-widget.about-widget {
  margin-right: 100px;
}
.footer-widget.business-widget {
  margin: 0px 50px;
}
.footer-widget.office-widget {
  margin-left: 100px;
}
.widget-title {
  position: relative;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 25px;
  color: var(--white-color);
  font-family: var(--montserrat);
}
.widget-title:before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 41px;
  content: "";
  background-color: var(--primary-color);
}
.footer-widget .footer-text {
  color: var(--sub-title-color);
}
.footer-widget .office-address {
  color: var(--sub-title-color);
}
.footer-link-btn a {
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
  color: var(--grey-color-one);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.footer-link-btn a:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
}
.business-info li a {
  padding: 5px 0px;
  display: inline-block;
  color: var(--white-color);
}
.business-info li a:hover {
  color: var(--primary-color);
}
.office-info li a {
  padding: 5px 0px;
  display: inline-block;
  color: var(--white-color);
}
.office-info li a:hover {
  color: var(--primary-color);
}
/* End Footer Middle */

/* Footer Bottom */
.footer-bottom {
  position: relative;
  padding: 25px 0px;
}
.copyright-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--rowdiess);
  color: var(--white-color);
}
.copyright-text a {
  color: var(--primary-color);
}
/* End Footer Bottom */

/* Main Footer Home Four */
.main-footer.home-four {
  background: none;
}
.home-four .footer-middle {
  position: relative;
  z-index: 1;
  padding: 200px 0px 100px;
}
.home-four .footer-middle:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background-color: rgba(34, 34, 34, 0.9);
}
.home-four .footer-middle .bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-four .footer-middle .footer-content {
  max-width: 800px;
  margin: 0 auto;
}
.home-four .footer-middle .footer-content .footer-logo {
  margin-bottom: 35px;
}
.home-four .footer-middle .footer-content h3 {
  color: var(--white-color);
  margin-bottom: 20px;
}
.home-four .footer-bottom {
  position: relative;
  padding: 25px 0px;
  background-color: var(--title-color);
}
/* End Main Footer Home Four */

/* Main Footer Home Five */
.home-five .footer-middle {
  padding: 150px 0px;
  border-bottom: none;
}
/* End Main Footer Home Five */

@media only screen and (max-width: 1139px) {
  .footer-widget.about-widget,
  .footer-widget.business-widget,
  .footer-widget.office-widget {
    margin: 0px;
  }
  .home-five .footer-middle {
    padding: 100px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-widget.about-widget,
  .footer-widget.business-widget {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 450px) {
  .footer-top {
    display: block;
    padding: 50px 0px;
  }
  .footer-top .footer-logo {
    margin-bottom: 30px;
  }
  .home-four .footer-middle .footer-content h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .home-five .footer-middle {
    padding: 100px 0px;
  }
}
